@font-face {
  font-family: 'FrizQuadrataC';
  src: url('../fonts/FrizQuadrataC.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FrizQuadrataC';
  src: url('../fonts/FrizQuadrataC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MyriadPro-It';
  src: url('../fonts/MyriadPro-It.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MyriadPro-It';
  src: url('../fonts/MyriadPro-BoldIt.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}