.container {
  padding: 0 10px;
  max-width: 1485px;
  margin: 0 auto;
}
.chan-ramen {
  &-main {
    position: relative;
    background: url("../img/bg-main.jpg") center center/cover no-repeat;
    height: calc(100vh - 90px);
    min-height: 643px;
    &__logo {
      padding: 75px;
    }
    &-pan {
      display: flex;
      margin-left: 224px;
      &__img {
        img {
          margin: 0 auto;
        }
      }
      &__title {
        font-family: "FrizQuadrataC";
        font-size: 80.5px;
        font-weight: bold;
        color: #ff0000;
      }
    }
    &__bot {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #bda33b;
      height: 90px;
      font-family: "FrizQuadrataC";
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 3.6px;
      color: #ffffff;
    }
  }
  &-type {
    padding-top: 70px;
    // background: url('../img/bg-pattern.jpg');
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../img/bg-pattern2.jpg") center center/cover no-repeat;
      z-index: -1;
    }
    &-noodles {
      &-inner {
        display: flex;
        justify-content: center;
      }
      &-row {
        display: flex;
      }
      &-item {
        width: 425px;
        margin-right: -60px;
        &__img {
          height: 400px;
          img {
            margin-left: 20px;
          }
        }
        &__line {
          padding-left: 50px;
          display: flex;
          align-items: center;
          margin-top: 40px;
          height: 70px;
          border-radius: 35px;
          font-family: "MyriadPro";
          font-size: 20px;
          font-weight: 900;
          &--yellow {
            background-color: #ffde00;
          }
          &--green {
            background-color: #99cc33;
          }
          &--red {
            background-color: #ff0000;
            color: white;
          }
          &--brown {
            background-color: #bda33b;
            width: 337px;
          }
        }
      }
    }
    &-about {
      margin: 70px 0;
      &-inner {
        display: flex;
        justify-content: space-between;
      }
      &-advantages {
        &-inner {
          border-radius: 35px;
          padding: 20px;
          max-width: 575px;
          background: #ffde00;
        }
        &__title {
          padding-left: 20px;
          font-family: "MyriadPro-It";
          font-size: 34px;
          font-weight: bold;
          color: #000000;
        }
        &-body {
          margin-top: 32px;
          &-item {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            &:last-child {
              margin-bottom: 0;
            }
            &__img {
              max-width: 120px;
            }
            &__descr {
              margin-left: 14px;
              max-width: 400px;
              font-family: "MyriadPro-It";
              font-size: 22px;
              color: #000000;
            }
          }
        }
      }
      &-slider {
        &-wrap {
          max-width: 800px;
        }
        &-bot-panel {
          padding: 10px 50px 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #99cc33;
          font-family: "MyriadPro";
          font-size: 20px;
          font-weight: bold;
          color: #000000;
          text-transform: uppercase;
          border-bottom-left-radius: 35px;
          border-bottom-right-radius: 35px;
        }
        &-item {
          border-top-left-radius: 35px;
          border-top-right-radius: 35px;
          background-color: #99cc33;
        }
        &-controlls {
          width: 30px;
          height: 33px;
          background: url("../img/arrow-prev.png") center center/cover no-repeat;
          cursor: pointer;
          outline: none;
        }
        &__next {
          transform: rotate(180deg);
        }
        // &-video {
        //   width: 850px;
        //   &-slider {
        //     width: 100%;
        //     &__item {
        //       border-top-left-radius: 35px;
        //       border-top-right-radius: 35px;
        //       background-color: #99cc33;
        //       img {
        //         width: 100%;
        //       }
        //     }
        //     &-bot-panel {
        //       padding: 10px 50px 10px;
        //       display: flex;
        //       justify-content: space-between;
        //       align-items: center;
        //       background-color: #99cc33;
        //       font-family: "MyriadPro";
        //       font-size: 20px;
        //       font-weight: bold;
        //       color: #000000;
        //       text-transform: uppercase;
        //       border-bottom-left-radius: 35px;
        //       border-bottom-right-radius: 35px;
        //     }
        //     &-controlls {
        //       width: 30px;
        //       height: 33px;
        //       background: url("../img/arrow-prev.png") center center/cover
        //         no-repeat;
        //       cursor: pointer;
        //       outline: none;
        //       &__next {
        //         transform: rotate(180deg);
        //       }
        //     }
        //   }
        // }
      }
    }
    &-chazhang {
      padding: 50px 0;
      // position: relative;
      // z-index: 1;
      // background: rgba($color: #fff4aa, $alpha: 0.3);
      // background: transparent;
      // background:  #fff4aa;
      &:before {
        // content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff4aa;
      }
      &__logo {
        margin-bottom: 50px;
        img {
          margin: 0 auto;
        }
      }
      &-row {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &-recipe {
        // width: 400px;
        align-self: flex-end;
        height: 347px;
        padding: 40px 20px 30px 20px;
        border-radius: 35px;
        background-color: #bda33b;
        &-list {
          list-style-type: none;
          max-width: 390px;
          font-family: "MyriadPro-It";
          font-size: 20px;
          color: #000000;
          counter-reset: list;
          &__item {
            // position: relative;
            display: flex;
            margin-bottom: 30px;
            &:last-child {
              margin-bottom: 0;
            }
            &:before {
              margin-right: 25px;
              font-family: "MyriadPro";
              font-weight: bold;
              counter-increment: list; /* Инкрементирует счётчик*/
              content: counter(list);
              display: flex;
              justify-content: center;
              align-items: center;
              min-width: 70px;
              min-height: 70px;
              height: 70px;
              background: black;
              color: #bda33b;
              font-size: 46px;
              border-radius: 100%;
              // position: absolute;
            }
          }
        }
      }
      &-advantages {
        &-header {
          display: flex;
          align-items: flex-end;
          &__text {
            margin-left: 30px;
            margin-bottom: 10px;
            font-family: "MyriadPro";
            font-size: 22px;
            color: #000000;
            max-width: 256px;
          }
        }
        &-body {
          margin-top: 50px;
        }
        &-card {
          border-radius: 35px;
          border: solid 5px #bda33b;
          position: relative;
          padding: 50px 20px 30px 20px;
          &-header {
            padding: 20px;
            font-family: "MyriadPro-It";
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            color: #fefefe;
            border-radius: 35px;
            background-color: #bda33b;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
          }
          &-list {
            list-style-type: none;
            counter-reset: list;
            font-family: "MyriadPro-It";
            font-size: 22px;
            color: #000000;
            &__item {
              max-width: 520px;
              display: flex;
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
              &:before {
                counter-increment: list; /* Инкрементирует счётчик*/
                content: counter(list);
                min-width: 50px;
                min-height: 50px;
                height: 50px;
                background: #ac322d;
                color: white;
                font-weight: bold;
                font-size: 33px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "MyriadPro";
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
    &-footer {
      margin-top: 100px;
      padding-bottom: 50px;
      &-top {
        margin-bottom: 120px;
        display: flex;
        justify-content: space-between;
      }
      &-recommend {
        margin: 0 20px;
        padding: 60px 40px 20px 20px;
        border-radius: 35px;
        border: solid 5px #bda33b;
        background-color: #ffffff;
        max-width: 420px;
        align-self: flex-end;
        position: relative;
        &-header {
          padding: 20px;
          border-radius: 35px;
          background-color: #bda33b;
          font-family: "MyriadPro-It";
          font-size: 30px;
          font-weight: bold;
          text-align: center;
          color: #fefefe;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &-body {
          font-family: "MyriadPro-It";
          font-size: 22px;
          color: #000000;
        }
        &-list {
          list-style-type: none;
          counter-reset: list;
          &__item {
            margin-bottom: 30px;
            &:last-child {
              margin-bottom: 0;
            }
            &:before {
              content: counter(list) ".";
              counter-increment: list;
            }
          }
        }
      }
      &-news {
        display: flex;
        justify-content: flex-end;
        &__title {
          margin-bottom: 21px;
          font-family: "MyriadPro";
          font-size: 30px;
        }
        &-block {
          display: flex;
        }
        &__link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 246px;
          height: 80px;
          border-radius: 40px;
          background-color: #bda33b;
          font-size: 30px;
          font-weight: bold;
          text-decoration: none;
          color: white;
          font-family: "MyriadPro";
          margin-right: 31px;
        }
        &__soc {
          margin-right: 18px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1475px) {
    &-type {
      &-noodles {
        overflow: hidden;
        &-inner {
          // flex-wrap: wrap;
        }
        &-row {
          // margin-bottom: 30px;
          // &:last-child {
          //   margin-bottom: 0;
          // }
        }
        &-item {
          margin-right: -71px;
          width: 380px;
        }
      }
    }
  }
  @media screen and (max-width: 1430px) {
    &-type {
      &-about {
        &-slider {
          &-wrap {
            max-width: 650px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1415px) {
    &-main {
      &-pan {
        margin-left: 105px;
        &__title {
          font-size: 55px;
        }
      }
      &__bot {
        font-size: 32px;
      }
    }
    &-type {
      &-chazhang {
        &-stiker {
          margin-left: auto;
          margin-right: auto;
        }
        &-row {
          flex-wrap: wrap;
          max-width: 840px;
          margin-left: auto;
          margin-right: auto;
          &-bot {
            // flex-wrap: nowrap;
          }
        }
        &-advantages {
          margin-top: 30px;
          width: 100%;
          &-header {
            justify-content: center;
          }
          &-card {
            &-list {
              &__item {
                max-width: 800px;
                align-items: center;
              }
            }
          }
        }
      }
      &-about {
        &-slider {
          &-wrap {
            &-two {
              margin: 40px auto !important;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1310px) {
    &-type {
      &-noodles {
        &-inner {
          flex-wrap: wrap;
        }
        &-row {
          width: 100%;
          justify-content: center;
          &:first-child {
            margin-bottom: 40px;
          }
          .chan-ramen-type-noodles-item {
            &:first-child {
              margin-right: -30px;
            }
            &:last-child {
              margin-left: -30px;
              .chan-ramen-type-noodles-item__line {
                justify-content: flex-end;
                padding-right: 50px;
              }
            }
          }
        }
        &-item {
          margin-right: 0;
          width: 400px;
          &__line {
            &--brown {
              width: 100%;
            }
          }
          // width: 350px;
        }
      }
    }
  }
  @media screen and (max-width: 1265px) {
    &-type {
      &-about {
        &-inner {
          flex-wrap: wrap;
        }
        &-advantages {
          width: 100%;
          margin-bottom: 30px;
          &-inner {
            margin: 0 auto;
          }
        }
        &-slider {
          &-wrap {
            margin: 0 auto;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1040px) {
    &-type {
      &-footer {
        margin-top: 0;
        &-top {
          flex-wrap: wrap;
        }
        &-packet {
          width: 100%;
          img {
            margin: 0 auto;
          }
        }
        &-recommend {
          margin: 50px auto 20px auto;
        }
        &-cheese {
          width: 100%;
          img {
            margin: 0 auto;
          }
        }
      }
    }
  }
  @media screen and (max-width: 960px) {
    &-main {
      height: calc(100vh - 60px);
      &__bot {
        text-align: center;
        font-size: 24px;
        height: 60px;
      }
    }
  }
  @media screen and (max-width: 840px) {
    &-type {
      &-chazhang {
        &__packet {
          max-width: 300px;
        }
        &-recipe {
          &-list {
            max-width: 325px;
          }
        }
      }
    }
  }
  @media screen and (max-height: 740px) {
    &-main {
      &__logo {
        padding: 30px;
      }
    }
  }
  @media screen and (max-width: 715px) {
    &-type {
      &-noodles {
        &-row {
          .chan-ramen-type-noodles-item {
            &:first-child {
              margin: 0;
              margin-right: 30px;
              .chan-ramen-type-noodles-item__line {
                padding-left: 30px !important;
                width: 280px;
              }
            }
            &:last-child {
              margin: 0;
              .chan-ramen-type-noodles-item__line {
                transform: translateX(-30px);
                justify-content: center;
              }
            }
          }
        }
        &-item {
          max-width: 220px;
          &__img {
            height: auto;
            img {
              margin: 0;
              height: 295px;
            }
          }
          &__line {
            width: 250px;
            text-align: center;
            padding: 0 !important;
            &--red {
              span {
                max-width: 150px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 695px) {
    &-type {
      &-chazhang {
        &__packet {
          width: 100%;
          max-width: none;
          img {
            margin: 0 auto;
          }
        }
        &-recipe {
          margin: 20px auto 0;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    &-main {
      &__logo {
        img {
          margin: 0 auto;
        }
      }
      &-pan {
        margin: 0;
        &-inner {
          margin: 0 auto;
        }
        &__title {
          font-size: 33px;
        }
      }
      &__bot {
        text-align: center;
        font-size: 24px;
        height: 60px;
      }
    }
    &-type {
      &-about {
        &-advantages {
          &__title {
            font-size: 29px;
          }
          &-body {
            &-item {
              margin-bottom: 30px;
              &__img {
                align-self: flex-start;
                max-width: 100px;
                min-width: 100px;
              }
              &__descr {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 575px) {
    &-main {
      min-height: 513px;
      &__bot {
        padding: 0 15px;
        font-size: 16px;
      }
    }
    &-type {
      &-noodles {
        &-row {
          .chan-ramen-type-noodles-item {
            &:first-child {
              .chan-ramen-type-noodles-item__line {
                padding-left: 10px !important;
              }
            }
          }
        }
        &-item {
          max-width: 120px;
          img {
            height: 160px;
          }
          &__line {
            width: 170px;
            font-size: 15px;
            &--red {
              span {
                max-width: 120px !important;
              }
            }
            span {
              max-width: 90px;
            }
          }
        }
      }
      &-about {
        &-slider {
          &-bot-panel {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 18px;
            text-align: center;
          }
        }
      }
      &-chazhang {
        &-recipe {
          height: auto;
          &-list {
            font-size: 18px;
            &__item {
              &:before {
                min-height: 40px;
                min-width: 40px;
                height: 40px;
                font-size: 37px;
              }
            }
          }
        }
        &-advantages {
          &-header {
            flex-wrap: wrap;
            &__img {
              width: 100%;
              margin-bottom: 30px;
              img {
                margin: 0 auto;
              }
            }
            &__text {
              margin-left: 0;
              text-align: center;
            }
          }
          &-body {
            margin-top: 70px;
          }
          &-card {
            padding-top: 120px;
            &-header {
              font-size: 25px;
              transform: translate(0, -6px);
              left: 0;
              width: 100%;
              max-width: 100%;
              white-space: pre-wrap;
            }
            &-list {
              &__item {
                align-items: flex-start;
              }
            }
          }
        }
      }
      &-footer {
        &-news {
          &-block {
            // flex-wrap: wrap;
          }
          &__soc {
            max-width: 50px;
          }
          &__link {
            font-size: 21px;
            height: 45px;
            width: 186px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 400px) {
    &-type {
      &-footer {
        &-news {
          &__title {
            font-size: 21px;
          }
          &__link {
            margin: 0 auto;
            margin-bottom: 20px;
          }
          &-inner {
            max-width: 210px;
            margin: 0 auto;
          }
          &-block {
            flex-wrap: wrap;
            justify-content: center;
          }
          &__soc {
          }
        }
      }
    }
  }
}
.text {
  &--uppercase {
    text-transform: uppercase;
  }
}


.chan-ramen-main-news-block {
  position: absolute;
  top: 50px;
  right: 50px;
}
.chan-ramen-type-about-slider-item {
  img {
    width: 100%;
  }
  iframe {
    border-radius: 35px;
    height: 444px;
  }
}
@media screen and (max-width: 767px) {
  .chan-ramen-main-news-block {
    right: 10px;
  }
  .chan-ramen-main-news__soc img {
    max-width: 50px;
  }
  .chan-ramen-type-about-slider-item {
    iframe {
      border-radius: 10px;
      height: 324px;
    }
  }
}
@media screen and (max-width: 567px) {
  .chan-ramen-main-news-block {
    top: 50%;
    transform: translateY(-50%);
  }
}
