section.section.chan-ramen-main
  .chan-ramen-main__logo
    a(href="http://doshirak.com/")
      img(src="./assets/img/logo.png", alt="logo")
  .chan-ramen-main-news-block
    a(href="https://www.youtube.com/channel/UC33n4WHCY3VbeymYMyJIxiw").chan-ramen-type-footer-news__soc.chan-ramen-main-news__soc
      img(src="./assets/img/socials/youtube.png", alt="youtube")
    a(href="https://vk.com/doshirak").chan-ramen-type-footer-news__soc.chan-ramen-main-news__soc
      img(src="./assets/img/socials/vk.png", alt="vk")
    a(href="https://www.facebook.com/doshirak").chan-ramen-type-footer-news__soc.chan-ramen-main-news__soc
      img(src="./assets/img/socials/facebook.png", alt="fb")  
  .chan-ramen-main-pan
    .chan-ramen-main-pan-inner
      .chan-ramen-main-pan__img
        img(src="./assets/img/pan.png", alt="pan")
      .chan-ramen-main-pan__title Все дело в ВАРКЕ!
.chan-ramen-main__bot НОВЫЙ ТРЕНД! ТЕПЕРЬ НЕ ЗАВАРИВАТЬ, А ВАРИТЬ!
section.section.chan-ramen-type 
  .chan-ramen-type-noodles
    .container
      .chan-ramen-type-noodles-inner
        .chan-ramen-type-noodles-row
          .chan-ramen-type-noodles-item
            .chan-ramen-type-noodles-item__img
              img(src="./assets/img/noodles/1.png", alt="1")
            .chan-ramen-type-noodles-item__line.chan-ramen-type-noodles-item__line--yellow <span>ВКУС ГОВЯДИНЫ</span>
          .chan-ramen-type-noodles-item
            .chan-ramen-type-noodles-item__img
              img(src="./assets/img/noodles/2.png", alt="2")
            .chan-ramen-type-noodles-item__line.chan-ramen-type-noodles-item__line--green <span>ВКУС КУРИЦЫ</span>
        .chan-ramen-type-noodles-row
          .chan-ramen-type-noodles-item
            .chan-ramen-type-noodles-item__img
              img(src="./assets/img/noodles/3.png", alt="3")
            .chan-ramen-type-noodles-item__line.chan-ramen-type-noodles-item__line--red <span>ВКУС ОСТРОЙ ГОВЯДИНЫ</span>
          .chan-ramen-type-noodles-item
            .chan-ramen-type-noodles-item__img
              img(src="./assets/img/noodles/4.png", alt="4")
            .chan-ramen-type-noodles-item__line.chan-ramen-type-noodles-item__line--brown <span>BLACK PASTA</span>
  .chan-ramen-type-about
    .container
      .chan-ramen-type-about-inner
        .chan-ramen-type-about-advantages
          .chan-ramen-type-about-advantages-inner
            .chan-ramen-type-about-advantages__title Преимущества вареной лапши:
            .chan-ramen-type-about-advantages-body
              .chan-ramen-type-about-advantages-body-item
                .chan-ramen-type-about-advantages-body-item__img
                  img(src="./assets/img/recommend/1.png", alt="1")
                .chan-ramen-type-about-advantages-body-item__descr При интенсивном взаимодействии лапши с воздухом, во время помешивания в кипящей воде, лапша становится более упругой.
              .chan-ramen-type-about-advantages-body-item
                .chan-ramen-type-about-advantages-body-item__img
                  img(src="./assets/img/recommend/2.png", alt="2")
                .chan-ramen-type-about-advantages-body-item__descr В процессе варки лапша становится мягкой, но не разваривается.
              .chan-ramen-type-about-advantages-body-item
                .chan-ramen-type-about-advantages-body-item__img
                  img(src="./assets/img/recommend/3.png", alt="3")
                .chan-ramen-type-about-advantages-body-item__descr Бульон, в котором варится лапша, становится наваристым и аппетитным.
        .chan-ramen-type-about-slider-wrap
          .chan-ramen-type-about-slider
            .chan-ramen-type-about-slider-item
              <iframe width="100%" height="440" src="https://www.youtube.com/embed/nZQzXu3bmQI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .chan-ramen-type-about-slider-item
              img(src="./assets/img/video.png", alt="video")
          .chan-ramen-type-about-slider-bot-panel
            .chan-ramen-type-about-slider-controlls.chan-ramen-type-about-slider__prev
            | рекламный ролик чан рамен
            .chan-ramen-type-about-slider-controlls.chan-ramen-type-about-slider__next
  .chan-ramen-type-chazhang
    .container
      .chan-ramen-type-chazhang__logo
        img(src="./assets/img/packet/logo.png", alt="")
      .chan-ramen-type-chazhang-row
        .chan-ramen-type-chazhang__packet
          img(src="./assets/img/packet/packet.png", alt="")
        .chan-ramen-type-chazhang-recipe
          ol.chan-ramen-type-chazhang-recipe-list
            li.chan-ramen-type-chazhang-recipe-list__item Поместить лапшу в 600 мл. кипящей воды и варить 5 минут.
            li.chan-ramen-type-chazhang-recipe-list__item Слить воду оставив немного (1~2 ложки воды) в кастрюле.
            li.chan-ramen-type-chazhang-recipe-list__item Добавить содержимое пакетика с соусом в лапшу и тщательно перемешать.
        .chan-ramen-type-chazhang-advantages
          .chan-ramen-type-chazhang-advantages-header
            .chan-ramen-type-chazhang-advantages-header__img
              img(src="./assets/img/packet/cook.png", alt="")
            .chan-ramen-type-chazhang-advantages-header__text
              <span class="text--uppercase">Будет еще вкуснее </span>
              | если перед вскрытием 
              | пакетик с соусом «Чачжан» 
              | поместить в горячую воду на
              | <span class="text--uppercase"> 1-2 минуты!</span>
          .chan-ramen-type-chazhang-advantages-body
            .chan-ramen-type-chazhang-advantages-card
              .chan-ramen-type-chazhang-advantages-card-header Преимущества вареной лапши:
              ol.chan-ramen-type-chazhang-advantages-card-list
                li.chan-ramen-type-chazhang-advantages-card-list__item При интенсивном взаимодействии лапши с воздухом, во время помешивания в кипящей воде, лапша становится более упругой.
                li.chan-ramen-type-chazhang-advantages-card-list__item В процессе варки лапша становится мягкой, но не разваривается.
      .chan-ramen-type-chazhang-row.chan-ramen-type-chazhang-row-bot
        .chan-ramen-type-chazhang-stiker
          img(src="./assets/img/packet/stiker-text.png", alt="")
        .chan-ramen-type-about-slider-wrap.chan-ramen-type-about-slider-wrap-two
          .chan-ramen-type-about-slider.chan-ramen-type-chazhang-slider
            .chan-ramen-type-about-slider-item
              //- img(src="./assets/img/packet/video.png", alt="video")
              <iframe width="100%" height="448px" src="https://www.youtube.com/embed/fzak24LANP8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .chan-ramen-type-about-slider-item
              img(src="./assets/img/packet/video.png", alt="video")
          .chan-ramen-type-about-slider-bot-panel
            .chan-ramen-type-about-slider-controlls.chan-ramen-type-about-slider__prev.chan-ramen-type-chazhang-slider__prev
            | рекламный ролик чачжан мен
            .chan-ramen-type-about-slider-controlls.chan-ramen-type-about-slider__next.chan-ramen-type-chazhang-slider__next
  .chan-ramen-type-footer
    .container
      .chan-ramen-type-footer-top
        .chan-ramen-type-footer-packet
          img(src="./assets/img/footer/packet.png", alt="")
        .chan-ramen-type-footer-recommend
          .chan-ramen-type-footer-recommend-header Рекомендации:
          .chan-ramen-type-footer-recommend-body
            ol.chan-ramen-type-footer-recommend-list
              li.chan-ramen-type-footer-recommend-list__item Блюдо подается с бульоном.
              li.chan-ramen-type-footer-recommend-list__item Рекомендуется переодически вынимать лапшу на поверхность, давая возможность насытится кислородом, стать мягкой, но не разваренной.
              li.chan-ramen-type-footer-recommend-list__item Добавить по вкусу ветчину, яйцо, лук и овощи.
        .chan-ramen-type-footer-cheese
          img(src="./assets/img/footer/cheese.png", alt="")
      .chan-ramen-type-footer-bot
        .chan-ramen-type-footer-news
          .chan-ramen-type-footer-news-inner
            .chan-ramen-type-footer-news__title Следите за новостями:
            .chan-ramen-type-footer-news-block
              a(href="doshirak.com").chan-ramen-type-footer-news__link doshirak.com
              a(href="https://www.youtube.com/channel/UC33n4WHCY3VbeymYMyJIxiw").chan-ramen-type-footer-news__soc
                img(src="./assets/img/socials/youtube.png", alt="youtube")
              a(href="https://vk.com/doshirak").chan-ramen-type-footer-news__soc
                img(src="./assets/img/socials/vk.png", alt="vk")
              a(href="https://www.facebook.com/doshirak").chan-ramen-type-footer-news__soc
                img(src="./assets/img/socials/facebook.png", alt="fb")  