section.section.lapasta-main
  .lapasta-main-logo
    a(href="http://doshirak.com/") 
      img(src="./assets/img/logo.png", alt="logo")
  .lapasta-main-slogan
    img(src="./assets/img/slogan.png", alt="slogan")
  .lapasta-main-news-block
    a(href="https://www.youtube.com/channel/UC33n4WHCY3VbeymYMyJIxiw").lapasta-about-news__soc.lapasta-main-news__soc
      img(src="./assets/img/socials/youtube.png", alt="youtube")
    a(href="https://vk.com/doshirak").lapasta-about-news__soc.lapasta-main-news__soc
      img(src="./assets/img/socials/vk.png", alt="vk")
    a(href="https://www.facebook.com/doshirak").lapasta-about-news__soc.lapasta-main-news__soc
      img(src="./assets/img/socials/facebook.png", alt="fb")
.lapasta-main-bottom-text ДОШИРАК-ЛаПаста
.section.lapasta-about
  .container
    .lapasta-about-type
      .lapasta-about-type-item.lapasta-about-type-tomato
        .lapasta-about-type__line.lapasta-about-type-tomato__line с томатами
        .lapasta-about-type__noodles.lapasta-about-type-tomato__noodles
          img(src="./assets/img/la-pasta-tomat.png", alt="tomat")
      .lapasta-about-type-item.lapasta-about-type-cheese
        .lapasta-about-type__line.lapasta-about-type-cheese__line с сыром
        .lapasta-about-type__noodles.lapasta-about-type-cheese__noodles
          img(src="./assets/img/la-pasta-sir.png", alt="cheese")
    .lapasta-about-lists
      .lapasta-about-lists-block.lapasta-about-lists-cook
        .lapasta-about-lists-block__title Способ приготовления:
        ol.lapasta-about-lists-block-list
          li.lapasta-about-lists-block-list__item Высыпаем соус и приправы поверх лапши.
          li.lapasta-about-lists-block-list__item Заливаем кипятком по линии отметки.
          li.lapasta-about-lists-block-list__item Закрываем крышкой и ждем 4-5 минут.
      .lapasta-about-lists-block.lapasta-about-lists-advantages
        .lapasta-about-lists-block__img
          img(src="./assets/img/like.png", alt="like")
        .lapasta-about-lists-block__title Преимущества ЛаПаста:
        ol.lapasta-about-lists-block-list
          li.lapasta-about-lists-block-list__item Вкусный итальянский обед или ужин всего за 5 минут.
          li.lapasta-about-lists-block-list__item Аппетитный бульон со вкусом томата или сыра.
    .lapasta-about-text-slider
      .lapasta-about-text-slider-recommends
        .lapasta-about-text-slider-recommends__title Рекомендации:
        .lapasta-about-text-slider-recommends__descr ЛаПаста будет еще вкуснее, если в процессе заваривания, ее перемешать 2-3 раза. Тогда соус получится гладкий и элластичный.
        .lapasta-about-text-slider-recommends-imgs
          .lapasta-about-text-slider-recommends-imgs__item
            img(src="./assets/img/recommend/1.png", alt="1")
          .lapasta-about-text-slider-recommends-imgs__item
            img(src="./assets/img/recommend/2.png", alt="2")
          .lapasta-about-text-slider-recommends-imgs__item
            img(src="./assets/img/recommend/3.png", alt="3")
      .lapasta-about-text-slider-video
        .lapasta-about-text-slider-video-slider
          .lapasta-about-text-slider-video-slider__item
            img(src="./assets/img/video.png", alt="video")
          .lapasta-about-text-slider-video-slider__item
            img(src="./assets/img/video.png", alt="video")
        .lapasta-about-text-slider-video-slider-bot-panel
          //- .lapasta-about-text-slider-video-slider-controlls
          .lapasta-about-text-slider-video-slider-controlls.lapasta-about-text-slider-video-slider-controlls__prev
          | рекламный ролик лапаста
          .lapasta-about-text-slider-video-slider-controlls.lapasta-about-text-slider-video-slider-controlls__next
    .lapasta-about-news
      .lapasta-about-news-inner
        .lapasta-about-news__title Следите за новостями:
        .lapasta-about-news-block
          a(href="doshirak.com").lapasta-about-news__link doshirak.com
          a(href="https://www.youtube.com/channel/UC33n4WHCY3VbeymYMyJIxiw").lapasta-about-news__soc
            img(src="./assets/img/socials/youtube.png", alt="youtube")
          a(href="https://vk.com/doshirak").lapasta-about-news__soc
            img(src="./assets/img/socials/vk.png", alt="vk")
          a(href="https://www.facebook.com/doshirak").lapasta-about-news__soc
            img(src="./assets/img/socials/facebook.png", alt="fb")



